<?xml version="1.0"?>
<launch>

	<!-- Publish the static TF Tree -->
	<node pkg="tf_tree" name="tf_tree_sim" type="tf_tree_sim" output="screen"/>

	<!-- Load ROS params for the entire control system -->
	<!-- Among other things, this should specifiy which controller to use -->
	<rosparam command="load" file="$(find vehicle_control)/config/control.yaml" />

	<!-- Based on the selected controller, load params for the requested control type -->
	<!-- Load ROS params PID control -->
	<rosparam command="load" file="$(find vehicle_control)/config/sm_sk.yaml" />

	<!-- Run control system -->
	<!-- <node pkg="vehicle_control" name="control" type="sm_sk_control" output="screen"/> -->

	<!-- Run allocation -->
	<node pkg="vehicle_allocation" name="allocation" type="vehicle_allocation" output="screen"/>

	<!-- Start High To Low Parser -->
	<node pkg="high_to_low" type="high_to_low" name="high_to_low" output="screen"></node>

	<!-- Start Simulated Drivers and State Accumulator -->
	<include file="$(find vehicle_state)/launch/sim_vehicle_state.launch" />

	<!-- Run Gazebo Simulator -->
	<include file="$(find vrx_gazebo)/launch/sandisland.launch"> 
		<!-- <arg name="urdf" value="$(find wamv_gazebo)/urdf/wamv_gazebo_sensors.urdf"/>	 -->
		<arg name="urdf" value="$(find wamv_gazebo)/urdf/wamv_gazebo.urdf"/>	
	</include>
	
	<!-- Run Gazebo State Simulator -->
	<include file="$(find wamv_gazebo)/launch/localization_example.launch"/>

	<!-- Clear Water From Simulated LiDAR -->
	<node pkg="clear_water" name="clear_water" type="clear_water.py" output="screen"/>

	<!-- Run RViz -->
	<include file="$(find wamv_gazebo)/launch/rviz_example.launch" />

	<!-- Run PC Collapser -->  
	<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
      <remap from="cloud_in" to="/lidar_wamv/points_no_water"/>
    <remap from="scan" to="scan"/>
    <rosparam>
        target_frame: base_link
        transform_tolerance: 0.01
        min_height: 0.0
        max_height: 1.0
        angle_min: -3.1415
        angle_max: 3.1415
        angle_increment: 0.01
        scan_time: 0.1
        range_min: 0.9
        range_max: 130
        use_inf: true
        concurrency_level: 0
    </rosparam>
    </node>

	<!-- Run Armando's Suite -->
	<include file="$(find wamv_navigation)/launch/vehicle_sim.launch" />
</launch>
